@using Domain.Entitys

@model Tag

@{
    ViewData["Title"] = "Detalhes da Tag";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Informações da Tag</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Descrição:</dt>
        <dd class="col-sm-9">@Model.Descricao</dd>
    </dl>
</div>

<div class="mt-4">
    <a href="@Url.Action("Edit", new { id = @Model.Id })" class="btn btn-primary">Editar</a>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Voltar para a Lista</a>
</div>