@using Domain.Entitys
@model Noticia

@{
    ViewData["Title"] = "Detalhes da Notícia: " + Model.Titulo;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Informações</h2>
    <dl class="row">
        <dt class="col-sm-4">Título:</dt>
        <dd class="col-sm-8">@Model.Titulo</dd>

        <dt class="col-sm-4">Texto:</dt>
        <dd class="col-sm-8">@Model.Texto</dd>

        <dt class="col-sm-4">Tags:</dt>
        <dd class="col-sm-8">
            @foreach (var noticiaTag in Model.NoticiaTags)
            {
                <span class="badge bg-secondary">@noticiaTag.Tag.Descricao</span>
            }
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
</div>