@using Domain.Entitys

@model IEnumerable<Noticia>

<h2>Notícias</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Adicionar Notícia</a>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var noticia in Model)
    {
        <tr>
            <td>@noticia.Titulo</td>
            <td>
                <a href="@Url.Action("Details", new { id = noticia.Id })">Detalhes</a> |
                <a href="@Url.Action("Edit", new { id = noticia.Id })">Editar</a> |
                    <form method="post" action="@Url.Action("Delete", new { Id = noticia.Id })" style="display:inline">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
                    </form>
            </td>
        </tr>
    }
    </tbody>
</table>
